<%= nested_form_for Value.new, url: edit_mark_path, method: :get do |f| %>
    <%= f.text_field :name, placeholder: "Название" %>
    <%= f.fields_for :lecturers do |task_form| %>
    <%= task_form.text_field :author, placeholder: "Автор" %>
    <%= task_form.link_to_remove "Удалить" %>
  <% end %>
  <p><%= f.link_to_add "Добавить автора", :lecturers %></p>
  <%= f.submit  %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Авторы</th>
    </tr>
  </thead>
  <tbody>
    <% @v.each do |public| %>
    <% i = 0 %>
    <tr>
      <td class='center'><%= public.name %></td>
      <td class='center'>
      <% while i < @v.count %>
        <% @v[i].lecturers.each do |l| %>
          <%= l.author %>
        <% end %>
        <% i += 1 %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
