<%= form_tag edit_mark_path, method: :get do  %>
  <%= text_field_tag 'factors[title]',nil, placeholder: "Название" %>
  <%= text_field_tag 'factors[author][]', nil, placeholder: "Автор" %> <%= button_tag "Добавить", id: "add", onclick: "return false" %><br />
  <div id="list"></div>
  <%= submit_tag "Сохранить", style: "display: none" %>
<% end %>
<%= nested_form_for @l do |f| %>
  <%= f.fields_for :connections do |task_form| %>
    <%= task_form.text_field :name %>
  <%= task_form.link_to_remove "Remove this task" %>
<% end %>
<p><%= f.link_to_add "Add a task", :tasks %></p>
<% end %>
<!-- TODO: Вывод записей -->
