<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <span><%= @subdivision %></span>
    </li>
  </ul>
</div>

<h1><%= @subdivision %></h1>

<div class='search'>
  <div class='search_in_list_wrapper'>
    <%= simple_form_for :search do |f| %>
      <%= f.input :query, :label => false, :placeholder => 'Найти по дисциплине, преподавателю или группе', :input_html => { :data => { :list => '.list.dockets' } } %>
    <% end %>
  </div>

  <div class='link_to_file'>
    <% if File.directory?("public/grades/#{@subdivision.folder_name}") %>
      <%= link_to "Скачать ведомости", "/grades/#{@subdivision.folder_name}/#{@subdivision.abbr_translit}.zip" %>
      <span>(данные обновляются каждые 3 часа)</span>
    <% end %>
  </div>
</div>

<ul class='list dockets'>
  <% @subdivision.dockets.each do |docket| %>
    <li>
      <%= link_to [docket.discipline, "гр. #{docket.group}", docket.lecturer].join(', '), [@subdivision, docket]  %>
      <div class="errors">
        <span><%= 'не заполнена КТ' unless docket.filled? %></span>
      </div>
    </li>
  <% end %>
</ul>
