<table>
  <thead>
    <tr>
      <th></th>
      <th>Аббревиатура</th>
      <th>Название</th>
      <th>Оценка</th>
    </tr>
  </thead>
  <tbody>
  <%= form_tag edit_permission_path, method: :get do %>
    <% @factors.each do |factor|  %>
      <tr>
        <td class='center'><%= check_box_tag :slug, factor.slug %></td>
        <td class='center'><%= factor.title %></td>
        <td class='center'><%= factor.abbr %></td>
        <td class='center'><%= factor.grade %></td>
      </tr>
    <% end %>
      <%= submit_tag "Сохранить" %>
  <% end %>
  </tbody>
</table>
